<div data-controller="post" class="container" data-post-id="<%= @post.id %>">
  <div class="row justify-content-center">
      <%= form_with model: @post, method: :post, html: { multipart: true },data: { action: "submit->post#submitForm", post_target: "form" } do |f| %>
        <div class="col">
          <h2><%= templetetitle %></h2>
        </div>
        <%= form_input(f, :title, "タイトル", "100", "投稿タイトルを入力")%>
        <%= form_input(f, :body, "旅行の概要", "100 x 5", "", {id: "body-textarea"})%>
        <%= render 'public/posts/form_good.html.erb', form: f %>
        <%= form_select(f, :travelmonth, "旅行月",[["1月",1], ["2月",2], ["3月",3], ["4月",4],
                              ["5月",5], ["6月",6], ["7月",7], ["8月",8],
                              ["9月",9], ["10月",10], ["11月",11], ["12月",12]]
                              )%>
        <%= render 'public/posts/form_prefecture.html.erb', form: f %>
        <%= form_select(f, :night, "宿泊数", Post.nights.keys.map { |key| [key.humanize, key] })%>
        <%= form_select(f, :people, "人数", Post.people.keys.map { |key| [key.humanize, key] })%>
        <%= render 'public/posts/form_tag.html.erb', form: f %>
        <%= render 'public/posts/form_image.html.erb'%>
        <div class="text-right">
          <button type="button" class="btn btn-success rounded-circle p-0 nextbutton" data-post-target="submit"  data-action="click->post#submitForm">
              次へ
          </button>
        </div>
      <% end %>
  </div>
</div>