<% if is_good_edit == true %>
　<div id="star_post_show"></div>
<script>
  var elem = document.querySelector('#star_post_show');
  elem.innerHTML = ""
  var option = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: "post[good]"
  };
  raty(elem, option);
</script>

<% else %>
　<div id="star_post_edit"></div>
  <script>
    var elem = document.querySelector('#star_post_edit');
    elem.innerHTML = ""
    var option = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= @post.good %>
    };
    raty(elem, option);
  </script>

<% end %>
