<% if is_good_edit == true %>
  <label id="star_<%= modelname %>_edit"
     data-star-on="<%= asset_path('star-on.png') %>"
     data-star-off="<%= asset_path('star-off.png') %>">
  </label>
<script>
  var selectname = '#star_<%= modelname %>_edit'
  var elem = document.querySelector(selectname);
  elem.innerHTML = ""
  var option = {
      starOn: elem.dataset.starOn,
      starOff: elem.dataset.starOff,
      scoreName: "<%= modelname %>[good]"
  };
  raty(elem, option);
</script>

<% else %>
  <label id="star_<%= modelname %>_show_<%= model.id %>"
     data-star-on="<%= asset_path('star-on.png') %>"
     data-star-off="<%= asset_path('star-off.png') %>">
  </label>
  <script>
    var elem = document.querySelector('#star_<%= modelname %>_show_<%= model.id %>');
    elem.innerHTML = ""
    var option = {
      starOn: elem.dataset.starOn,
      starOff: elem.dataset.starOff,
      readOnly: true,
      score: <%= model.good %>
    };
    raty(elem, option);
  </script>

<% end %>
