<% targetpost.each do | post | %>
  <div class="col">
    <div class="card border-dark" style="width: 260px; height: 380px;">
      <% if post.images[0] != nil  %>
        <%= image_tag post.images[0], size: "200x180", class:"card-img-top" %>
      <% else %>
        <%= image_tag asset_path('no_image.jpg'), size: "200x180", class:"card-img-top" %>
      <% end %>
      <div class="card-body text-dark">
        <h5 class="card-title"><%= link_to post.title, post_path(post.id) %></h5>
        <button type="button" class="btn btn-outline-dark btn-sm">#タグ名</button>
        <button type="button" class="btn btn-outline-dark btn-sm">#タグ名</button>
        <button type="button" class="btn btn-outline-dark btn-sm">#タグ名</button>
        <button type="button" class="btn btn-outline-dark btn-sm">#タグ名</button>
        <button type="button" class="btn btn-outline-dark btn-sm">#タグ名</button>
        <button type="button" class="btn btn-outline-dark btn-sm">#タグ名</button>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <span class="text-left"><%= link_to post.user.name, mypage_path(post.user_id), class:"text-left"%></span>
        <span class="text-right"><%= post.created_at.strftime('%Y/%m/%d')%></span>
      </div>
    </div>
  </div>
<% end %>