<div class="container">
  <div class="row">
    <div class="col">
      <h2>投稿編集ページ</h2>

      <%= form_with model: @post do |f| %>

        <div class="form-group">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <%= f.label :body, "投稿内容" %><br>
          <%= f.text_area :body %>
        </div>
        <div class="form-group">
          <%= f.check_box :is_release %>
          <p>公開する</p>
        </div>
        <div class="form-group">
          <%= f.label "季節" %>
          <%= f.select :season,Post.seasons.keys.map { |key| [key.humanize, key] } %>
          <%= f.label "場所" %>
          <%= f.select :place, Post.places.keys.map { |key| [key.humanize, key] } %>
          <%= f.label "何泊か" %>
          <%= f.select :night, Post.nights.keys.map { |key| [key.humanize, key] } %>
          <%= f.label "人数" %>
          <%= f.select :people,Post.people.keys.map { |key| [key.humanize, key] } %>
        </div>

        <div class="form-group">
        サムネイル
        <%= f.file_field :images, multiple: true %>
        </div>

        <%= render 'public/posts/good.html.erb', is_good_edit: true %>
        <%= f.submit "観光場所変更へ移動" ,class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
