<div class="container">
  <div class="row">
    <div class="col">
      <h2>投稿編集ページ</h2>

      <%= form_with model: @post do |f| %>

        <div class="form-group">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所" %><br>
          <%= f.text_field :address %>
        </div>

        <div class="form-group">
          <%= f.label :body, "投稿内容" %><br>
          <%= f.text_area :body %>
        </div>
        <div class="form-group">
          <%= f.check_box :is_release %>
          <p>公開する</p>
        </div>
        <%= render 'public/posts/good.html.erb', is_good_edit: true %>
        <%= f.submit "更新" ,class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
