<div class="container">
  <div class=row>
    <%= render 'public/searches/search.html.erb' %>
    <% @postall.each do | post | %>
      <div class="col mb-3">
        <%= link_to post_path(post.id), class: "card", :style=>"width: 250px; height: 300px;" do %>
          <% if post.images[0] != nil  %>
            <%= image_tag post.images[0], size: "200x180", class:"card-img-top" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x180", class:"card-img-top" %>
          <% end %>
          <div class="card-body text-dark">
            <h5 class="card-title"><%= post.title %></h5>
            <%= render 'public/posts/good.html.erb', is_good_edit: false, post: post %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>