<div class="container">
  <div class="row">
    <div class="col">
      <h2>新規投稿</h2>

      <%= form_with model: Post.new, method: :post do |f| %>
        <div class="form-group">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title %>
        </div>

        <div class="form-group">
          <%= f.label :body, "投稿内容" %><br>
          <%= f.text_area :body %>
          <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
        </div>

        <div class="form-group">
          <%= f.check_box :is_release %>
          <p>公開する</p>
        </div>

        <%= render 'public/posts/good.html.erb', is_good_edit: true %>
        <%= f.submit "投稿" ,class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>