<div class="container">
  <div class="row">
    <div class="col">
      <h2>新規投稿</h2>

      <%= form_with model: Post.new, method: :post do |f| %>
        <div class="form-group">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title %>
        </div>

        <div class="form-group">
          <%= f.label :body, "投稿内容" %><br>
          <%= f.text_area :body %>
        </div>

        <%= render 'public/posts/good.html.erb', is_good_edit: true %>
        <%= f.submit "下書きとして観光場所指定へ進む" ,class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>