<div data-controller="images" class="container">
  <div class="row justify-content-center">
      <%= form_with model: Post.new, method: :post, html: { multipart: true },data: { action: "submit->images#submitForm", images_target: "form" } do |f| %>
        <div class="col">
          <h2>新規投稿</h2>
        </div>
        <div class="form-group col mb-3">
          <%= f.label :title, "タイトル" %></br>
          <%= f.text_field :title, size: " 100 x 20 " , class:"form-control"%>
        </div>

        <div class="form-group col">
          <%= f.label :body, "投稿内容"%></br>
          <%= f.text_area :body, size: " 100 x 5 " , class:"form-control" %>
        </div>

        <div class="form-group col">
          <%= f.label "旅行点数" %>
          <%= render 'public/posts/good.html.erb', is_good_edit: true %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label "月", class:"form-label" %>
          <%= f.select :travelmonth,[["1月",1], ["2月",2], ["3月",3], ["4月",4],
                              ["5月",5], ["6月",6], ["7月",7], ["8月",8],
                              ["9月",9], ["10月",10], ["11月",11], ["12月",12]], {},{class:"form-control"} %>
        </div>

        <div data-controller = "selectmenu" class="form-group col-md-6">
          <%= f.label "場所", class:"form-label" %>
          <div class="input-group">
            <%= f.select :place, Post.places.keys.map { |key| [key.humanize, key] }, {},{class:"form-control"} %>
            <% Post.prefectures.keys.map { |key| [key.humanize, key] } %>
            <select class="form-control" data-selectmenu-target = "inputselect">
              <% Post.prefectures.keys.map.each do | prefecture | %>
                <option><%= prefecture %></option>
              <% end %>
            </select>
            <button type="button" class="fa-solid fa-circle-plus" data-action="click->selectmenu#addSelect"></button>
          </div>
          <div data-selectmenu-target="selects" class="select-list">
          </div>
        </div>

        <div class="imagedrag col-md-6"
             data-images-target="drop"
             data-action="dragover->images#dragOver dragleave->images#dragLeave drop->images#dropImages">
          <i class="fa-solid fa-circle-plus"></i></br>
          写真追加
        </div>

        <div data-images-target="preview" class="preview-area mt-3"></div>

        <div data-images-target="error" class="error-message mt-2 text-danger"></div>

        <div class="form-group col-md-6">
          <%= f.label "宿泊数", class:"form-label"%>
          <%= f.select :night, Post.nights.keys.map { |key| [key.humanize, key] },{},{class:"form-control"} %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label "人数" %>
          <%= f.select :people,Post.people.keys.map { |key| [key.humanize, key] },{},{class:"form-control"} %>
        </div>

        <div data-controller="tag" class="form-group col-md-6">
          <div class="input-group">
            <input type="input" class="form-control inputtag" placeholder="タグを追加" data-tag-target="input" ></input>
            <button type="button" class="fa-solid fa-circle-plus" data-action="click->tag#addTag" ></button>
          </div>
          <div data-tag-target="tags" class="tag-list">
          </div>
        </div>

        <div class="text-right">
          <button type="button" class="btn btn-success rounded-circle p-0 nextbutton" data-images-target="submit"  data-action="click->images#submitForm">
              次へ
          </button>
        </div>
      <% end %>
  </div>
</div>