<div class="container">
  <div class="row">
    <div class="col">

      <h1>投稿詳細表示</h1>

      <%= @post.title %>
      <%= @post.body %>

      <% if @post.user == current_user %>
        <div id="star"></div>
        <script>
          var elem = document.querySelector('#star');
          var option = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            readOnly: true,
            score: <%= @post.good %>
          };
          raty(elem, option);
        </script>
        <%= link_to "投稿編集", edit_post_path %>
        <%= link_to "削除", post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"} %>
      <% end %>

      <% @post.comments.each do |comment| %>
        <%= comment.user.name %>
        <%= comment.comment %>
        <% if current_user == comment.user %>
          <%= link_to "削除", post_comment_path(@post.id,comment.id), method: :delete, data: {confirm: "削除しますか？"} %>
        <% end %>
      <% end %>

      <%= form_with model: Comment.new,url: post_comments_path(@post), method: :post do |f| %>
        <div class="form-group">
          <%= f.text_field :comment %>
        </div>
        <%= f.submit "投稿" ,class: "btn btn-primary"%>
      <% end %>

    </div>
  </div>
</div>