<div class="container-fluid" data-controller="post">
  <div class="row">
    <div class="col-md-3 overflow-auto" style = "background-color: #f0f8ff; height: 100vh;">
      <%= post_show_image(@post, "400x300") %>
      <div class="title mt-3">
        <h3><%= @post.title %></h3>
      </div>
      <div class="username mt-3">
        <p>投稿者名:<%= link_to @post.user.name, mypage_path( @post.user.id ) %></p>
      </div>
      <div class="body mt-3 border rounded bg-white">
        <h5>旅行の概要:</h5>
        <%= simple_format(h(@post.body)) %>
      </div>
      <%= render 'public/posts/show_place.html.erb', places: @place %>
      <%= render 'public/posts/show_post_info.html.erb', post: @post, tags: @tags, prefectures: @prefectures %>
      <div class="p-5"></div>
      <div class="p-5"></div>
    </div>
    <div class="col-6 p-0">
      <div id="postdetailsbutton">
        <% if current_user %>
          <% if current_user.id == @post.user_id %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-gear"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "編集", edit_post_path(@post.id) , class:"dropdown-item" %>
                <%= link_to "削除", post_path(@post.id), method: :delete, class:"dropdown-item", data: { confirm: "投稿を削除してもよいですか" } %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div id="post_map" data-id="<%= @post_id %>" style="height: 100vh;"></div>
    </div>
    <%= render 'public/posts/commentindex.html.erb', comments: @comments, post_id: @post.id %>
    </div>
  </div>
</div>
<% breadcrumb :post_show, @post %>