<div class="container">
  <div class="row">
    <div class="col">

      <h1>投稿詳細表示</h1>

      <%= @post.title %>
      <%= @post.body %>

      <% if @post.user == current_user %>
        <%= link_to "投稿編集", edit_post_path %>
        <%= link_to "削除", post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"} %>
        <% if @post.is_release == false %>
          <%= link_to '公開', publish_post_path(@post), method: :patch, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <div id="map" data-address="<%= @place[0].address %>" data-id="<%= @post.id %>"></div>

      <%= render 'public/posts/good.html.erb', is_good_edit: false %>

      <% @post.comments.each do |comment| %>
        <%= comment.user.name %>
        <%= comment.comment %>
        <%= render 'public/comments/good.html.erb', status: "show", commentdata: comment  %>
        <% if current_user == comment.user %>
          <%= link_to "削除", post_comment_path(@post.id,comment.id), method: :delete, data: {confirm: "削除しますか？"} %>
        <% end %>
      <% end %>

      <%= form_with model: Comment.new,url: post_comments_path(@post), method: :post do |f| %>
        <div class="form-group">
          <%= f.text_field :comment %>
        </div>
        <%= render 'public/comments/good.html.erb', status: "new", commentdata: nil %>
        <%= f.submit "投稿" ,class: "btn btn-primary"%>
      <% end %>

      <% if current_user.id == @post.user_id %>
        <%= link_to '場所指定', new_post_place_path(@post.id) %>
      <% end %>

      <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>

    </div>
  </div>
</div>

