<div class="container-fluid" data-controller="place">
  <div class="row">
    <div class="col-md-3" id="place-form">
      <%= form_with model: @place, url: post_places_path(@post_id), method: :post, html: { multipart: true },data: { action: "submit->place#submitForm", place_target: "form" } do |f| %>
        <div class="form-group col mt-3 border rounded bg-white p-3">
          <%= f.label :place_name, "訪問地をキーワードで検索" %><br>
          <%= render 'public/places/form_search.html.erb' %>
        </div>

        <div class="form-group col border rounded bg-white p-3" >
          訪問地：
          <a id="resultplacename"></a>
          <div class="invalid-feedback" id="placename-invalid"></div>
        </div>

        <div class="form-group col border rounded bg-white p-3">
          感想やメモ<br>
          <textarea class="form-control" id="comment" placeholder="例:) 初めての東京タワー！ どこかレトロな雰囲気が最高でした！" rows="5"></textarea>
        </div>

        <div class="form-group col border rounded bg-white p-3">
          <%= f.label :good, "この場所のおすすめ度" %>
          <%= render 'public/posts/good.html.erb', is_good_edit: true, modelname: "place" %>
        </div>

        <%= render 'public/places/form_image.html.erb'%>
        <%= action_button('btn-primary', '個別訪問地を登録', 'tabsave', 'click->place#saveData', 'mt-0', 'savetabbutton') %>
        <%= action_button('btn-danger', '個別訪問地を削除', 'deletedata', 'click->place#removePlaceData', 'mt-3', 'deletebtn') %>
        <%= action_button('btn-success', 'すべての内容を確定して投稿', 'submit', 'click->place#submitForm', 'mt-5') %>
      <% end %>
    </div>
    <%= render 'public/places/form_tab.html.erb' %>
  </div>
  <%= render 'public/places/form_modal.html.erb' %>
</div>


