<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style = "background-color: #f0f8ff; height: 100vh; overflow: hidden;">
      <%= form_with model: @place, url: post_places_path(@post_id), method: :post do |f| %>
        <div class="form-group col mt-3">
          <%= f.label :place_name, "訪問地をキーワードで検索" %><br>
          <%= f.text_field :place_name, placeholder:'キーワードを入力' %>
        </div>

        <div class="form-group col">
          <%= f.label :comment, "感想やメモ" %><br>
          <%= f.text_area :comment,placeholder:'初めて勾当台公園へ行った結構広く参加したイベントも楽しかった', size: " 100 x 5 ", class:"form-control" %>
        </div>

        <div class="form-group col">
          <%= f.label :good, "この場所のおすすめ度" %>
          <%= render 'public/posts/good.html.erb', is_good_edit: true, modelname: "place" %>
        </div>

        <div class="form-group col">
         <div class="imagedrag
             data-images-target="drop"
             data-action="dragover->images#dragOver dragleave->images#dragLeave drop->images#dropImages">
          <i class="fa-solid fa-circle-plus"></i></br>
          写真追加
        </div>

        <div data-images-target="preview" class="preview-area mt-3"></div>


        <%= f.submit "登録" ,class: "btn btn-primary"%>

      <% end %>
    </div>
  </div>
  <div class="col p-0">
    <ul class="nav flex-column" style="position:absolute; z-index:1; background-color:white;">
      <li class="nav-item m-0">
        <a class="nav-link border" href="#section1">1</a>
      </li>
      <li class="nav-item m-0">
        <a class="nav-link border" href="#section2">+</a>
      </li>
    </ul>
    <div id="place_map" data-id="<%= @post_id %>" style="height: 100vh;"></div>
  </div>
</div>
<%= javascript_pack_tag 'place_map', 'data-turbolinks-track': 'reload' %>