<%= form_with model: @place, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :place_name, "訪れた場所" %><br>
    <%= f.text_field :place_name %>
  </div>
  <div class="form-group">
    <%= f.label :address, "住所" %><br>
    <%= f.text_field :address %>
  </div>

<% end %>