<% if status == "new" %>
  <div id="star_comment_<%= id %>"></div>
    <script>
      var elem = document.querySelector('#star_comment_<%= id %>');
      elem.innerHTML = ""
      var option = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: "comment[good]"
      };
      raty(elem, option);
    </script>

<% elsif status == "edit" %>
  <script>
    var elem = document.querySelector('#star_comment_edit');
    //elem.innerHTML = ""
    var option = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: "comment[good]"
    };
    raty(elem, option);
    </script>
<% elsif status == "show" %>
  <script>
    var elem = document.querySelector('#star_comment_show');
    //elem.innerHTML = ""
    var option = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= commentdata.good %>
    };
  raty(elem, option);
</script>
<% end %>