<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with method: :get , url: search_result_path do |f| %>
        <div class="form-group">
          <%= f.text_field :seachdata %>
          <%= f.select :is_search_category, options_for_select([['User'], ['Post']]) %>
          <%= f.select :is_search_condition, options_for_select([['PartialMatch'], ['PerfectMatch']]) %>
          <%= f.select :is_search_season, options_for_select([['全季節'], ['春'], ['夏'], ['秋'], ['冬']]) %>
          <%= f.select :is_search_place, options_for_select([['国内旅行'], ['海外旅行']]) %>
          <%= f.select :is_search_night, options_for_select([['1泊'], ['2泊'], ['3泊'], ['4泊'], ['5泊~']]) %>
          <%= f.select :is_search_people, options_for_select([['1人'], ['2人'], ['3人'], ['4人'], ['5人~']]) %>
          <%= f.submit "検索" ,class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

