<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with method: :get , url: search_result_path do |f| %>
        <%= f.select :search_category_select, [['投稿検索', 'post_search']] + [['ユーザ検索', 'user_search']], {class:"form-control" },
        :onchange =>"changeRefineButtonVisiblity(this)" %>
        <%= f.text_field :searchdata, size: 40, value: @searchdata %>
        <%= f.submit "検索" ,class: "btn btn-primary"%>
        <button type="button" class="btn btn-primary mb-8" data-toggle="modal" data-target="#testModal" name="refine">絞り込み</button>
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4>条件検索</h4>
              </div>
              <div class="modal-body">
                  <%= search_months_checkboxes(@travel_months, 'travel_months', '旅行月') %>
                  <%= search_form_select(
                    f,
                    :prefectures,
                    '都道府県名',
                    'all_prefectures',
                    PostPrefecture.prefectures.keys,
                    @prefectures
                  ) %>
                  <%= search_form_select(
                    f,
                    :stay_nights,
                    '宿泊数',
                    'all_stay_nights',
                    Post.stay_nights.keys,
                    @stay_nights
                  ) %>
                  <%= search_form_select(
                    f,
                    :people,
                    '人数',
                    'all_people',
                    Post.people.keys,
                    @people
                  ) %>
                  <%= search_months_checkboxes(@post_month, 'post_months', '投稿月') %>
                  <%= search_good_checkboxes(@travel_goods, 'travel_goods', '観光点数') %>
                <div class="modal-footer">
                  <%= f.submit "検索", class:"btn btn-default" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function changeRefineButtonVisiblity( obj )
  {
    if(obj.value == 'post_search'){
      document.getElementsByName('refine')[0].style.visibility = 'visible';
    }
    else{
      document.getElementsByName('refine')[0].style.visibility = 'hidden';
    }
  }
</script>
