<div id="slider" style="height: 100vh; top: 0px; position:absolute;">
  <%= image_tag "_50A7795_TP_V"%>
  <%= image_tag "mojiko_turutama_MKT4588_TP_V" %>
  <%= image_tag "yuta7137_TP_V" %>
  <%= image_tag "yuta_240513_032_TP_V"%>
</div>
<div class="container-fluid">
  <div class="h2">
    Trevelog
  </div>
</div>
 <%= javascript_pack_tag 'image_fade', 'data-turbolinks-track': 'reload' %>
