<div class="container">
  <div class="row">
    <div class="h3">
      <%= @post.title %>
    </div>
  </div>
  <div class="row">
     <%= @post.body %>
  </div>
  <div class="row">
    <% render "admin/posts/good.html.erb", category: "post" , data: @post %>
  </div>

  <div class="row">
  <% @post.comments.each do |comment|%>
    <%= comment.comment %><br />
    <% render "admin/posts/good.html.erb", category: "comment" , data: comment %>
    <%= comment.user.name %>
    <%= link_to "Comment削除", admin_comment_path(comment.id), method: :delete, data: {confirm: "削除しますか？"} %>
  <% end %>
  </div>
  <div class="row">
    <%= link_to "Post削除", admin_post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"} %>
  </div>
</div>