<%= form_with url: user_registration_path, model: @user, method: :patch, data: { action: "submit->post#submitInfo", user_target: "infoform" } do |f| %>
  <div class="form-group">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, class:"form-control w-25" %>
  </div>

  <div class="form-group">
    <%= f.label :ユーザ名 %>
    <%= f.email_field :name, class:"form-control w-25" %>
  </div>

  <div class="form-group">
    <%= f.label :現在のパスワード %>
    <%= f.password_field :current_password, class:"form-control w-25" %>
  </div>

  <div class="form-group">
    <%= f.label :新しいパスワード %>
    <%= f.password_field :password, class:"form-control w-25" %>
  </div>

  <div class="form-group">
    <%= f.label :新しいパスワード（確認用）%>
    <%= f.password_field :password_confirmation, class: "form-control w-25" %>
  </div>

  <button type="button" class="btn btn-primary mt-5" data-user-target="updateinfo" data-action="click->user#submitInfo">更新</button>
<% end %>
