 <div class="row">
  <div class="col user_image">
    <label><プロフィール画像></label>
    <% if user.profile_image.attached?  %>
      <%= image_tag rails_blob_path(user.profile_image),size: "200x200"%>
    <% else %>
      <%= image_tag asset_path('no_image.jpg'), size: "200x200"%>
    <% end %>
  </div>
  <div class="col-8">
    <div class="username">
      <label>ユーザ名：</label>
      <%= user.name %>
    </div>

    <div class="introduction">
      <label>自己紹介：</label>
      <%= user.introduction %>
    </div>
  </div>

  <div class="col">
    <% if current_user.id == user.id %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "ユーザ情報編集", infomation_users_path, class:"dropdown-item" %>
          <%= link_to "プロフィール編集", edit_path(user.id), class:"dropdown-item"%>
        </div>
      </div>
    <% end %>
  </div>
  </div>

<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
  <label class="btn btn-secondary <%= 'active' if current_page?(mypage_path(user.id)) %>">
    <%= link_to mypage_path(user.id) do %>
      <input type="radio" <%= 'checked' if current_page?(mypage_path(user.id)) %>> 投稿一覧
    <% end %>
  </label>
  <label class="btn btn-secondary <%= 'active' if current_page?(mypage_place_path(user.id)) %>">
    <%= link_to mypage_place_path(user.id) do %>
      <input type="radio" <%= 'checked' if current_page?(mypage_place_path(user.id)) %>> 訪れた場所一覧
    <% end %>
  </label>
</div>