<div class="container">
  <div class="row">
    <div class="user_image mx-auto">
      <% if @user.image.attached == nil  %>
        <%= image_tag 'no_image', size: "200x180"%>
      <% else %>
        <%= image_tag @user.image,size: "200x180"%>
      <% end %>
    </div>
    <div class="col">
      <div class="user_name">
        <%= @user.name %>
      </div>
      <div class="user_introduction">
        aaaaaaaaaaaaaaaaaaaaaa
      </div>
    </div>
    <div class="col">
     <%= link_to infomation_users_path, class: "btn btn-outline-dark" do %>
       <i class="fa-solid fa-gear"></i>
     <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <%= render 'public/posts/index.html.erb', targetpost: @user.posts %>
  </div>
</div>