<div class="container">
  <h1>マイページ</h1>
  <div class="row">
      <% if @user.image.attached == nil  %>
        <%= image_tag 'no_image', size: "200x180"%>
      <% else %>
        <%= image_tag @user.image, size: "200x180" %>
      <% end %>

    <div class="user_name mx-auto">
      <%= @user.name %>
    </div>

    <div class="introduction mx-auto">
      <%= @user.introduction %>
    </div>
    <div class="col">
      <%= link_to 'ユーザ編集', infomation_users_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <%= render 'public/posts/index.html.erb', targetpost: @user.posts %>
  </div>
</div>