<!DOCTYPE html>
<html>
  <head>
    <title>Travelog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container">
      <ul class="navbar-nav w-50 nav-justified mx-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_users_path, class: "nav-link text-light" do %>
              UserAll
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete,class: "nav-link text-light" do %>
              Logout
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_posts_path, class: "nav-link text-light" do %>
              PostAll
            <% end %>
          </li>
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to mypage_path(current_user.id), class: "nav-link text-light" do %>
              mypage
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path, class: "nav-link text-light" , data: {turbolinks: "false"} do %>
              newpost
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path , method: :delete, class: "nav-link text-light" do %>
              Log out
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to posts_path, class: "nav-link text-light" do %>
              all post
            <% end %>
          </li>

          <% else %>
            <li class="nav-item">
              <%= link_to about_path, class: "nav-link text-light" do %>
                About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                Sign up
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link text-light"  do %>
                Log in
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_guest_sign_in_path, method: :post, class: "nav-link text-light"  do %>
                Gest login
              <% end %>
            </li>
        <% end %>

      </ul>
    </nav>
    </header>
    <p class="notice"><%= notice %></p>
  　<p class="alert"><%= alert %></p>
  　  <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
    <%= yield %>
  </body>
</html>
