<!DOCTYPE html>
<html>
  <head>
    <title>Travelog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to mypage_path, class: "nav-link text-light" do %>
                mypage
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to mypage_path, class: "nav-link text-light" do %>
                review
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path, class: "nav-link text-light" do %>
                newpost
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path , method: :delete, class: "nav-link text-light" do %>
                Log out
            <% end %>
          </li>
        <% else%>
          <li class="nav-item">
            <%= link_to about_path, class: "nav-link text-light" do %>
                About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                Sign up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-light"  do %>
              Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    </header>
    <p class="notice"><%= notice %></p>
  　<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
