<!DOCTYPE html>
<html>
  <head>
    <title>Travelog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand top-text">
        <%= link_to root_path,class: "nav-link text-light" do %>
          Travelog
        <% end %>
      </a>
      <ul class="navbar-nav" style="margin-left: 30%">
        <div class="nav-item">
          <%= render 'public/searches/search.html.erb' %>
        </div>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to about_path, class: "btn text-light" do %>
            Travelogとは
          <% end %>
        </li>
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete,class: "nav-link text-light" do %>
              ログアウト
            <% end %>
          </li>
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to mypage_path(current_user.id) , class: "btn btn-info" do %>
              マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path , class: "btn btn-info" do %>
              新規投稿
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path , method: :delete, class: "btn btn-danger" do %>
              ログアウト
            <% end %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "btn btn-success" do %>
                会員登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "btn btn-primary"  do %>
                ログイン
              <% end %>
            </li>
        <% end %>
      </ul>
    </nav>
      <% breadcrumb_content = breadcrumbs(separator: " &rsaquo; ") %>
      <% if breadcrumb_content.present? %>
      <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <%= breadcrumb_content %>
        </ol>
      </nav>
      <% end %>
    </header>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert]%>
  　  <p class="alert"><%= alert %></p>
  　<% end %>

    <%= yield %>
  </body>
</html>